body{
    font-family: 'Poppins';
}
.navbar-brand img{
    width: 75%;
}
.navbar{
    margin-top: 20px;
    
}
.container{
    margin-bottom: 75px;
}
.btn-color{
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
}
.card-body{
    text-align: center;
}
.col-md-6 a{
    color: orange;
}
.card{
    border-radius: 10px;
}
.mini-cat-box{
    text-align: center;
}